## 1 - Etapa de Extração

In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv("ocorrencia_2010_2020.csv", delimiter=';')
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,SIM,FINALIZADA,NaN,0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,06/01/2010,17:53:00,***,NaN,NaN,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,SIM,FINALIZADA,NaN,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,09/01/2010,12:30:00,SIM,FINALIZADA,IG-028/CENIPA/2011,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,SIM,FINALIZADA,I-004/CENIPA/2011,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,10/01/2010,20:00:00,***,NaN,NaN,0

In [3]:
df.dtypes

codigo_ocorrencia                  int64
codigo_ocorrencia2                 int64
ocorrencia_classificacao          object
ocorrencia_cidade                 object
ocorrencia_uf                     object
ocorrencia_aerodromo              object
ocorrencia_dia                    object
ocorrencia_hora                   object
investigacao_aeronave_liberada    object
investigacao_status               object
divulgacao_relatorio_numero       object
total_recomendacoes                int64
dtype: object

In [4]:
df.ocorrencia_dia.dt.month

AttributeError: Can only use .dt accessor with datetimelike values

## 2 - Etapa de validação

In [58]:
### Parametro dayfirst informa que no arquivo original o primeiro parametro é o dia e não o mes.
df = pd.read_csv("ocorrencia_2010_2020.csv", delimiter=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [7]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia2                         int64
ocorrencia_classificacao                  object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
total_recomendacoes                        int64
dtype: object

In [8]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [9]:
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,***,NaN,NaN,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,SIM,FINALIZADA,NaN,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,SIM,FINALIZADA,IG-028/CENIPA/2011,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,SIM,FINALIZADA,I-004/CENIPA/2011,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,***,NaN,NaN,0

In [56]:
## pa.Check.str_matches, utiliza uma expressão regular para validar o formato de hora (utilização é opcional)
## Opção required para campos que não são obrigatorios vir na base de dados.

schema = pa.DataFrameSchema(
    columns = {
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [59]:
### Caso o comando abaixo de erro, o schema de validação acima, apontou erros/diferenças.
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,SIM,FINALIZADA,***,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,SIM,FINALIZADA,***,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,SIM,FINALIZADA,***,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,SIM,FINALIZADA,***,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,SIM,FINALIZADA,***,0

## 3 - Etapa de Limpeza

In [12]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [14]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [13]:
df.loc[3]
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0

In [15]:
df.loc[[1,3]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0

In [16]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [17]:
df.codigo_ocorrencia.is_unique

True

In [18]:
df.ocorrencia_uf.is_unique

False

In [19]:
df.set_index('codigo_ocorrencia', inplace=True)

In [20]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
codigo_ocorrencia,,,,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [21]:
df.loc[40211]

codigo_ocorrencia2                              40211
ocorrencia_classificacao                    INCIDENTE
ocorrencia_cidade                      RIO DE JANEIRO
ocorrencia_uf                                      RJ
ocorrencia_aerodromo                             ****
ocorrencia_dia                    2010-01-03 00:00:00
ocorrencia_hora                              12:00:00
investigacao_aeronave_liberada                    SIM
investigacao_status                        FINALIZADA
divulgacao_relatorio_numero                       ***
total_recomendacoes                                 0
Name: 40211, dtype: object

In [22]:
df.reset_index(drop=True, inplace=True)

In [23]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [ ]:
df.loc[0,'ocorrencia_aerodromo'] = ''

In [ ]:
df.loc[1] = 20

In [ ]:
df.loc[:,'total_recomendacoes'] = 10

In [ ]:
df.head()

In [ ]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [ ]:
df.head()

In [ ]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [ ]:
df.head()

In [24]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
11,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,SIM,FINALIZADA,A-121/CENIPA/2012,8
16,39809,INCIDENTE,SÃO PAULO,SP,****,2010-01-15,15:00:00,***,NaN,NaN,0
18,39828,INCIDENTE,SANTOS,SP,****,2010-01-15,17:45:00,***,NaN,NaN,0
26,39847,INCIDENTE,SOROCABA,SP,****,2010-01-20,13:10:00,***,NaN,NaN,0
27,39768,INCIDENTE,CAMPINAS,SP,****,2010-01-21,20:45:00,***,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
5704,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,SIM,ATIVA,IG-144/CENIPA/2020,0
5705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,SIM,FINALIZADA,***,0
5715,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,SIM,FINALIZADA,***,0
5742,79800,INCIDENTE,SÃO PAULO,SP,SBMT,2020-12-28,10:15:00,SIM,FINALIZADA,***,0
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,SIM,FINALIZADA,***,0

In [27]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [29]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [38]:
df.replace(['****','###!','####','**','*****','NULL'],pd.NA, inplace=True)

In [39]:
df.isna().sum()

codigo_ocorrencia                    0
codigo_ocorrencia2                   0
ocorrencia_classificacao             0
ocorrencia_cidade                    0
ocorrencia_uf                        1
ocorrencia_aerodromo              2349
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada     341
investigacao_status                340
divulgacao_relatorio_numero        872
total_recomendacoes                  0
dtype: int64

In [43]:
df.fillna(0, inplace=False)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,0,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,0,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,SIM,FINALIZADA,***,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,0,2020-12-30,18:30:00,SIM,FINALIZADA,***,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,SIM,FINALIZADA,***,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,0,2020-12-31,09:00:00,SIM,FINALIZADA,***,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,SIM,FINALIZADA,***,0

In [45]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [47]:
## cria coluna nova
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [51]:
## dropa coluna
df.drop(['ocorrencia_uf_bkp'], axis=1, inplace=True)

In [ ]:
## retira a linha inteira que possuir NA em qualquer coluna
df.dropna()

In [ ]:
### retira a linha inteira que possua nulo na coluna referenciada
df.dropna(subset=['ocorrencia_uf'], inplace = True)

In [53]:
## dropa linhas duplicadas
df.drop_duplicates(inplace = True)

## 4 - Etapa de Transformação

In [2]:
valores_ausentes = ['****','###!','####','**','*****','NULL']
df = pd.read_csv("ocorrencia_2010_2020.csv", delimiter=';', parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0

In [3]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo": pa.Column(pa.Int, required=False),
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable = True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable = True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,SIM,FINALIZADA,***,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,SIM,FINALIZADA,***,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,2020-12-30,18:30:00,SIM,FINALIZADA,***,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,SIM,FINALIZADA,***,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,2020-12-31,09:00:00,SIM,FINALIZADA,***,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,SIM,FINALIZADA,***,0

In [5]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia2                         int64
ocorrencia_classificacao                  object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
total_recomendacoes                        int64
dtype: object

In [79]:
## busca pelo indice
df.iloc[-1]

codigo_ocorrencia                               79844
codigo_ocorrencia2                              79844
ocorrencia_classificacao                    INCIDENTE
ocorrencia_cidade                      RIO DE JANEIRO
ocorrencia_uf                                      RJ
ocorrencia_aerodromo                             SBJR
ocorrencia_dia                    2020-12-31 00:00:00
ocorrencia_hora                              13:24:00
investigacao_aeronave_liberada                    SIM
investigacao_status                        FINALIZADA
divulgacao_relatorio_numero                       ***
total_recomendacoes                                 0
Name: 5751, dtype: object

In [81]:
df.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,***,NaN,NaN,0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,SIM,FINALIZADA,A-121/CENIPA/2012,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,SIM,FINALIZADA,NaN,0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,SIM,FINALIZADA,A-016/CENIPA/2011,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,SIM,FINALIZADA,A-505/CENIPA/2016,0

In [82]:
df.loc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,2010-01-10,21:30:00,***,NaN,NaN,0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,SIM,FINALIZADA,A-121/CENIPA/2012,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,SIM,FINALIZADA,NaN,0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,SIM,FINALIZADA,A-016/CENIPA/2011,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,SIM,FINALIZADA,A-505/CENIPA/2016,0
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,SIM,FINALIZADA,A-519/CENIPA/2016,0

In [84]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    RJ
Name: ocorrencia_uf, Length: 5752, dtype: object

In [7]:
df.isnull().sum()

codigo_ocorrencia                    0
codigo_ocorrencia2                   0
ocorrencia_classificacao             0
ocorrencia_cidade                    0
ocorrencia_uf                        1
ocorrencia_aerodromo              2349
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada     341
investigacao_status                340
divulgacao_relatorio_numero        872
total_recomendacoes                  0
dtype: int64

In [8]:
df.loc[df.ocorrencia_uf.isnull()]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
2227,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,SIM,FINALIZADA,A-158/CENIPA/2013,0

In [11]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
2227,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,SIM,FINALIZADA,A-158/CENIPA/2013,0

In [12]:
## não conta valores não informados (null)
df.count()

codigo_ocorrencia                 5752
codigo_ocorrencia2                5752
ocorrencia_classificacao          5752
ocorrencia_cidade                 5752
ocorrencia_uf                     5751
ocorrencia_aerodromo              3403
ocorrencia_dia                    5752
ocorrencia_hora                   5751
investigacao_aeronave_liberada    5411
investigacao_status               5412
divulgacao_relatorio_numero       4880
total_recomendacoes               5752
dtype: int64

In [16]:
filtro = df.total_recomendacoes > 10
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,total_recomendacoes
63,39992,39992,ACIDENTE,SÃO PAULO,SP,SBMT,2010-02-17,20:07:00,SIM,FINALIZADA,A-032/CENIPA/2012,11
326,42250,42250,ACIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-12,12:26:00,SIM,FINALIZADA,A-001/CENIPA/2012,19
530,43471,43471,ACIDENTE,SÃO PAULO,SP,NaN,2010-12-14,20:15:00,SIM,FINALIZADA,A-042/CENIPA/2011,11
727,44377,44377,ACIDENTE,ITÁPOLIS,SP,SDIO,2011-04-09,14:50:00,SIM,FINALIZADA,A-089/CENIPA/2012,11
872,44796,44796,ACIDENTE,RECIFE,PE,SBRF,2011-07-13,09:54:00,SIM,FINALIZADA,A-019/CENIPA/2013,23
884,44888,44888,INCIDENTE GRAVE,SÃO JOSÉ DOS PINHAIS,PR,SBCT,2011-07-15,17:05:00,SIM,FINALIZADA,IG-532/CENIPA/2015,11
1062,45554,45554,INCIDENTE GRAVE,UBERLÂNDIA,MG,SBUL,2011-11-15,02:15:00,NaN,FINALIZADA,IG-018/CENIPA/2013,20
1972,47938,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,***,FINALIZADA,I-067/CENIPA/2013,11
2795,52265,52265,ACIDENTE,SANTOS,SP,NaN,2014-08-13,13:03:00,NaN,FINALIZADA,A-134/CENIPA/2014,13
3930,66432,66432,INCIDENTE GRAVE,VITÓRIA,ES,NaN,2017-02-21,11:47:00,NaN,FINALIZADA,IG-031/CENIPA/2017,12

In [24]:
filtro = df.total_recomendacoes > 10 
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro & filtro2, ['ocorrencia_cidade', 'ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
63           SÃO PAULO            SP
530          SÃO PAULO            SP
727           ITÁPOLIS            SP
2795            SANTOS            SP

In [26]:
filtro = (df.total_recomendacoes > 10) & (df.ocorrencia_classificacao.isin(['INCIDENTE', 'INCIDENTE GRAVE']))
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

         ocorrencia_cidade ocorrencia_uf
884   SÃO JOSÉ DOS PINHAIS            PR
1062            UBERLÂNDIA            MG
1972              BRASÍLIA            DF
3930               VITÓRIA            ES

In [28]:
## OCORRENCIAS QUE COMEÇAM COM C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
6                COARI            AM
7             CANUTAMA            AM
8             CASCAVEL            PR
15            CANUTAMA            AM
20     CRUZEIRO DO SUL            AC
...                ...           ...
5661          CAMPINAS            SP
5663           CONFINS            MG
5680   CRUZEIRO DO SUL            AC
5696         CATANDUVA            SP
5747          CAMPINAS            SP

[825 rows x 2 columns]

In [32]:
## OCORRENCIAS QUE TERMINAM COM A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
7             CANUTAMA            AM
12            BRASÍLIA            DF
15            CANUTAMA            AM
25          UBERLÂNDIA            MG
26            SOROCABA            SP
...                ...           ...
5738         FORTALEZA            CE
5739          MARITUBA            PA
5743     RIO PARANAÍBA            MG
5744          GOIATUBA            GO
5750         VICENTINA            MS

[1556 rows x 2 columns]

In [38]:
## OCORRENCIAS QUE TERMINAM COM NA
filtro = df.ocorrencia_cidade.str[-2:] == 'NA'
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
51          CORRENTINA            BA
81            LONDRINA            PR
86            LONDRINA            PR
138         CORRENTINA            BA
147           LONDRINA            PR
...                ...           ...
5624          LONDRINA            PR
5631            ROSANA            SP
5640        URUGUAIANA            RS
5712          LONDRINA            PR
5750         VICENTINA            MS

[272 rows x 2 columns]

In [41]:
## OCORRENCIAS QUE CONTÉM MA
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

       ocorrencia_cidade ocorrencia_uf
7               CANUTAMA            AM
13    PRIMAVERA DO LESTE            MT
15              CANUTAMA            AM
35                PALMAS            TO
78                MANAUS            AM
...                  ...           ...
5732              MARABÁ            PA
5739            MARITUBA            PA
5741        NOVA MARINGÁ            MT
5745           MATO RICO            PR
5746       MANOEL URBANO            AC

[488 rows x 2 columns]

In [42]:
## OCORRENCIAS QUE CONTÉM MA ou AL
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

       ocorrencia_cidade ocorrencia_uf
5               SALVADOR            BA
7               CANUTAMA            AM
13    PRIMAVERA DO LESTE            MT
15              CANUTAMA            AM
17              SALVADOR            BA
...                  ...           ...
5738           FORTALEZA            CE
5739            MARITUBA            PA
5741        NOVA MARINGÁ            MT
5745           MATO RICO            PR
5746       MANOEL URBANO            AC

[903 rows x 2 columns]

In [43]:
## OCORRENCIAS DO ANO DE 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf']]

         ocorrencia_cidade ocorrencia_uf
2996              SALVADOR            BA
2997              IVINHEMA            MS
2998                  TEFÉ            AM
2999        BELO HORIZONTE            MG
3000                TOLEDO            PR
...                    ...           ...
3462               ITABERÁ            SP
3463             GUARULHOS            SP
3464  SÃO FRANCISCO DO SUL            SC
3465             MAÇAMBARÁ            RS
3466            PORTO BELO            SC

[471 rows x 2 columns]

In [45]:
## OCORRENCIAS DO ANO DE 2015 e entre os dias 3 e 8 de cada mes
filtro = (df.ocorrencia_dia.dt.year == 2015) & ((df.ocorrencia_dia.dt.day >=3) & (df.ocorrencia_dia.dt.day <= 8))
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf', 'ocorrencia_dia']]

      ocorrencia_cidade ocorrencia_uf ocorrencia_dia
3000             TOLEDO            PR     2015-01-04
3001            JUNDIAÍ            SP     2015-01-05
3002  BRAGANÇA PAULISTA            SP     2015-01-06
3003             MANAUS            AM     2015-01-06
3004          BRASNORTE            MT     2015-01-08
...                 ...           ...            ...
3435          AMERICANA            SP     2015-12-06
3436              AGUAÍ            SP     2015-12-08
3437              JALES            SP     2015-12-08
3438           CAMPINAS            SP     2015-12-08
3439      CAXIAS DO SUL            RS     2015-12-08

[96 rows x 3 columns]

In [48]:
## criar coluna de dia e hora
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)

In [49]:
df.ocorrencia_dia_hora

0      2010-01-03 12:00:00
1      2010-01-03 11:05:00
2      2010-01-03 03:00:00
3      2010-01-04 17:30:00
4      2010-01-05 19:25:00
               ...
5747   2020-12-29 19:00:00
5748   2020-12-30 18:30:00
5749   2020-12-30 00:54:00
5750   2020-12-31 09:00:00
5751   2020-12-31 13:24:00
Name: ocorrencia_dia_hora, Length: 5752, dtype: datetime64[ns]

In [53]:
filtro = (df.ocorrencia_dia.dt.year == 2015)\
    & ((df.ocorrencia_dia_hora >= '2015-12-03 11:00:00') & (df.ocorrencia_dia_hora <= '2015-12-08 11:00:00'))
df.loc[filtro, ['ocorrencia_cidade', 'ocorrencia_uf', 'ocorrencia_dia_hora']]

     ocorrencia_cidade ocorrencia_uf ocorrencia_dia_hora
3433    BELO HORIZONTE            MG 2015-12-03 16:47:00
3434          TRINDADE            GO 2015-12-06 13:10:00
3435         AMERICANA            SP 2015-12-06 15:00:00
3437             JALES            SP 2015-12-08 10:20:00

In [ ]:
## ocorrencias ano 2015 e mes 3

In [58]:
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 3)
df201503 = df.loc[filtro]

In [59]:
df201503.count()

codigo_ocorrencia                 37
codigo_ocorrencia2                37
ocorrencia_classificacao          37
ocorrencia_cidade                 37
ocorrencia_uf                     37
ocorrencia_aerodromo              21
ocorrencia_dia                    37
ocorrencia_hora                   37
investigacao_aeronave_liberada    37
investigacao_status               35
divulgacao_relatorio_numero       35
total_recomendacoes               37
ocorrencia_dia_hora               37
dtype: int64

In [63]:
## utilizar a coluna totalmente preenchida no count acima como referencia de agrupamento, nesse caso o indice é codigo_ocorrencia.
## evitar contar por colunas que possuem nulos, pois pode gerar problemas no count
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [67]:
## size não tem problemas com nulos
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [82]:
filtro = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','RJ','MG','ES'])
dfsudeste2010 = df.loc[filtro & filtro2]

In [70]:
dfsudeste2010.count()

codigo_ocorrencia                 228
codigo_ocorrencia2                228
ocorrencia_classificacao          228
ocorrencia_cidade                 228
ocorrencia_uf                     228
ocorrencia_aerodromo              127
ocorrencia_dia                    228
ocorrencia_hora                   228
investigacao_aeronave_liberada    228
investigacao_status               202
divulgacao_relatorio_numero        50
total_recomendacoes               228
ocorrencia_dia_hora               228
dtype: int64

In [83]:
dfsudeste2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [84]:
dfsudeste2010.groupby([ 'ocorrencia_uf', 'ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_uf  ocorrencia_classificacao
SP             INCIDENTE                   74
RJ             INCIDENTE                   52
MG             INCIDENTE                   39
SP             ACIDENTE                    24
               INCIDENTE GRAVE              9
RJ             ACIDENTE                     9
MG             ACIDENTE                     7
               INCIDENTE GRAVE              5
ES             INCIDENTE                    5
RJ             INCIDENTE GRAVE              4
dtype: int64

In [85]:
filtro = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2010.loc[filtro].total_recomendacoes.sum()

25

In [90]:
## utilizando filtro antes de agrupar
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values(ascending = False)

ocorrencia_cidade
SÃO PAULO                41
RIO DE JANEIRO           25
CAMANDUCAIA               9
BRAGANÇA PAULISTA         9
RESENDE                   8
JUNDIAÍ                   7
TIMÓTEO                   3
NOVO HORIZONTE            3
IPERÓ                     3
SÃO BERNARDO DO CAMPO     2
BELO HORIZONTE            2
ITANHAÉM                  1
BOM JESUS DO GALHO        1
BOITUVA                   1
Name: total_recomendacoes, dtype: int64

In [92]:
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64

## 5 - Etapa de Carregamento